:root{
  --blue: #374375;
  --dark-color:#7479a8;
  --black:#444;
  --light-color:#666;
  --border:0.1rem solid rgba(0,0,0,0.1);
  --border-hover:0.1rem solid var(--black);
  --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);

}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffcf5;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;


}

 html{
  font-size: 62.5%;
  overflow-x:hidden;
  overflow-y: auto;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}


.header .header_one{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  background-color: #babde2;

}

.header .header_one .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .header_one .logo i{
  color: var(--blue);
}

.header .header_one .search-form{
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background: #babde2;
  display: flex;
  align-items: center;
  border-radius: 0.5;

}

.header .header_one .search-form input{
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header_one .search-form label{
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header_one .search-form label:hover{
  color: var(--blue); 
}

.header .header_one .icons div,
.header .header_one .icons a{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header_one .icons div:hover,
.header .header_one .icons a:hover{
  color: val(--blue);
}

#search-btn{
  display: none;
}

.header .header_two{
  background-color: var(--blue);
}

.header .header_two .navbar{
  text-align: center;
}

.header .header_two .navbar a{
  color: #fffcf5;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.header .header_two .navbar a:hover{
  background-color: var(--dark-color);
}

.header .header_two.active{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

/* .bar{
  background-color: #374375;

} */
.front-page-content{
  margin-left: 1%;
    margin-bottom: 10px;
    padding: 20px;
    /* background-color: #374375; */
    overflow-y: hidden;
}

section{
  padding: 3rem 9%;
}

.home{
  overflow: hidden;
  background-image: url(Untitleddesign.png);
  height: 60rem;
  background-position: bottom;
   background-size: cover ; 
}

.takequiz{
    background-color: var(--dark-color); /* Button background color */
    color: white; /* Button text color */
    padding: 20px 30px;
    border: none; /* Remove default border */
    border-radius: 90px; /* Rounded corners */
    font-size: 2rem; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color change */
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.12); /* Optional: Add a subtle shadow */
  }
  
  .takequiz:hover {
    background-color: var(--blue); /* Change background color on hover */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .line1{
    font-size: 4rem;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-style: normal;
      margin-top: 4rem;
    }
  
    .line2{
      font-size: 3rem;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-style: normal;
      margin-top: 15px;
      margin-bottom: 60px;
    }

    .bottom-navbar{
      text-align: center;
      background: var(--blue);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
     display: none;
  }
  
  .bottom-navbar a{   
      font-size: 2.5rem;
      padding: 2rem;
      color: #fff;
  }
  
  .bottom-navbar a:hover{
      background-color: var(--dark-color);
  }
  
  @media(max-width:768px){
    
  }


  
  

@media (max-width: 990px){
  html{
      font-size: 55%;
  }
   .home{
    background: url(white.png);
  } 
   .image{
    margin-top: -8rem;
    height: 48rem;
    width: 38rem;
    background: url(4161aefc28e9d30b637145a6fdbeade7.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
  } 
  .header .header_one{
      padding: 2rem;
  }
  .front-page-content{
    margin-top: 15%;
  }
  .line1{
    font-size: 6rem;
    margin-top: -3rem;
   
  }
  .line2{
    font-size: 4rem;
  }
  
}

@media (max-width:760px){
  html{
      scroll-padding: 0;
      
  }

  .bottom-navbar{
    display: inline-block;
}

  body{
      padding-bottom: 6rem;
      align-items: center;
  }

   .home{
    background: url(white.png);
  }
  .image{
    margin-top: -8rem;
    height: 48rem;
    width: 38rem;
    background: url(4161aefc28e9d30b637145a6fdbeade7.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
  } 

  .header .header_two{
      display: none;
  }

  .header .header_one{
      box-shadow: var(--box-shadow);
      position: relative;
  }

  .header .header_one .search-form{
      position: absolute;
      top: -115%;
      right: 2rem;
      width: 90%;
      box-shadow: var(--box-shadow);
  }

  .header .header_one .search-form.active{
      top: 115%;
  }

  #search-btn{
      display: inline-block;
  }

  .line1{
    font-size: 5rem;
    align-items: center;
  }
  .line2{
    font-size: 3rem;
    align-items: center;
  }
}

@media (max-width:450px){
  html{
      font-size: 50%;
  }

   .home{
    background: url(white.png);
    align-items: center;
  } 
   .image{
    margin-top: -7;
    margin-left: -9rem;
    align-self: center;
    /* height: rem;
    width: 13rem; */
    background: url(4161aefc28e9d30b637145a6fdbeade7.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
  } 

}

.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.icons-container .icons{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icons-container .icons i{
  font-size: 3.5rem;
  color: var(--blue);
  padding: 2rem 0;
}

.icons-container .icons h3{
  color: var(--light-color);
  font-size: 2.2rem;
  border-bottom: 0.5rem;
}

.icons-container .icons p{
  color: var(--light-color);
  font-size: 1.4rem;
}

.heading{
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

 
  
  h1 {
    text-align: center;
  }
  
  .question-container {
    margin-bottom: 20px;
    font-size: 150%;
    text-align: center;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
  }

  
  .options-container button:hover {
    background-color: var(--dark-color);
  }
  
  .options-container button {
    flex: 1 0 45%;
    background-color: var(--blue);
    padding: 20px; /* Increase the padding to make the button larger */
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 24px; /* Increase the font size for better readability */
}
  
  .result-container {
    text-align: center;
    font-weight: bold;
  }
  


  
